.style-skin{
  background-color: #F28888;
  height: 160px;
}

.sticky-wrapper{
  height: 160px;
}

.large-menu{
  height: 160px;
}

.small-menu{
  height: 80px;
}

.small-menu > a{
  padding: 4px 44px;
}

.navbar-default .navbar-nav li a, .navbar-default .navbar-nav li a:active   {
  color: #ffff;
}

#about {
  background: url(../images/nuvem-rosa-claro-final.png) no-repeat top center;
  padding-bottom: 0px;
  padding-top: 31px;
}



.title-init{
  font-size: 3rem;
  line-height: 61px;
  color: white;
}

.title-init > span{
  font-size: 5rem;

}

.img-person{
  width: 70%;
}

.about-info{
  text-align: center;
}

.botao{
  text-decoration: none;
  background-color: #078c7f;
  background-image: none;
  color: rgb(255,255,255);
  border: 0px;
  font-size: 27px;
  text-align: center;
  border-radius: 14px;
  padding: 12px;
  cursor: pointer;
}

.botao:hover{
  background-color: rgb(245,95,3);
  color: white;
}

.title-calltoaction{
  font-size: 6rem;
  color: white;
  text-shadow: 0px 1px 12px #078c7f;
}

.subtitle-calltoaction{
  text-shadow: 0px 1px 12px #722c01;
}

.title-section-2{
  text-align: center;
  font-weight: 400;
}

.span-number{
  color: white;
    background-color: #078c7f;
    display: inline-block;
    border-radius: 50%;
    width: 35px;
    height: 35px;
    text-align: center;
    font-size: 26px;
}
/* accordion */
#accordion{
  padding-top: 50px;
  padding-bottom: 50px;s
}
.checkbox {
  position: absolute;
  opacity: 0;
  z-index: -1;
}
.row {
  display: flex;
}
.row .col {
  flex: 1;
}
.row .col:last-child {
  margin-left: 1em;
}
/* Accordion styles */
.tabs {
  border-radius: 8px;
  overflow: hidden;
  margin-top: 30px;
}
.tab {
  width: 100%;
  color: #40545f;
  overflow: hidden;
}
.tab-label {
  display: flex;
  justify-content: space-between;
  padding: 1em;
  background: #f2f2f2;
  font-weight: bold;
  cursor: pointer;
  margin-bottom: 0rem;
  border-radius: 6px;
  transition: border 1s;
  font-size: 16px;
 /* Icon */
}
.tab-label:hover {
  color: #00686f;
}
.tab-label::after {
  content: "\276F";
  width: 1em;
  height: 1em;
  text-align: center;
  transition: all 0.35s;
}
.tab-content {
  max-height: 0;
  padding: 0 1em;
  color: #2c3e50;
  background: white;
  transition: all 0.35s;
  margin-bottom: 1.5rem;
  overflow: hidden;
  font-size: 14px;
  margin-top: -4px;
}
.tab-close {
  display: flex;
  justify-content: flex-end;
  padding: 1em;
  font-size: 16px;
  background: #2c3e50;
  cursor: pointer;
}
.tab-close:hover {
  background: #1a252f;
}
.checkbox:checked + .tab-label {
  background: #f2f2f2;
  border-radius: 6px 6px 0 0;
}
.checkbox:checked + .tab-label::after {
  transform: rotate(90deg);
}
.checkbox:checked ~ .tab-content {
  max-height: 100vh;
  padding: 1em;
  height: auto;
  
}
